/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Open-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: gray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-address-link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
